[2015-12-22 14:00] JosephSalisbury opened #2 "Deployment Epic"
We need a clear plan/vision for the future of our deployment tool. Ideally, one document that details the definitions, composition and workflow.

Prior discussions and assets:
- https://gist.github.com/zyndiecate/7d28bd97633c22731c14
  - General concepts and possible workflow
- https://github.com/giantswarm/architecture/pull/25
  - General discussion on the future of releaseit
- https://github.com

[2015-12-28 15:24] JosephSalisbury commented on #2
https://github.com/giantswarm/architecture/pull/27

[2016-02-11 13:59] #2 closed, assigned to nobody

[2016-02-11 14:07] JosephSalisbury opened #5 "Set up TravisCI integration"
Set up TravisCI to test project, and run `go vet` and `go lint`.

If I recall correctly, `fleet` has a nice CI, so it might be an idea to copy that.

[2016-02-11 14:57] JosephSalisbury commented on #5
(Also, actually _executing_ the binary - such as `./formica help` is a v. good idea)

[2016-02-11 15:03] JosephSalisbury opened #6 "Add support for creating group instances and group slices"
We want to be able to create a group instance, running on the fleet cluster.

e.g:

[code]

This should submit all the unit files in the group to the cluster.

We also want to support creating group slices:
e.g:

[code]

The units do not need to be started, at this point - just submitted.

[2016-02-11 15:04] JosephSalisbury commented on #6
ping @zeisss @xh3b4sd

[2016-02-11 15:04] JosephSalisbury commented on #5
ping @zeisss @xh3b4sd

[2016-02-11 15:05] JosephSalisbury opened #7 "Write up contributing document"
I'd like to actually write up a _useful_ (read: not copy and paste) contributing document, that explains our best practices when it comes to contributions.

My initial thoughts are:
- PRs must pass CI integration (this catches failing tests / go vet / go lint / whatever else we feel like putting in there - and automating this stuff is good)
- PRs must have a decent level of unit tests

Thoughts?

[2016-02-11 15:05] JosephSalisbury commented on #7
ping @zeisss @xh3b4sd

[2016-02-11 15:14] JosephSalisbury opened #8 "Add support for getting status of group instances and group slices"
We want to be able to get the status of group instances:

e.g:

[code]

e.g:

[code]

We need consensus on the actual format of the status output.

[2016-02-11 15:14] JosephSalisbury commented on #8
ping @zeisss @xh3b4sd

[2016-02-11 15:15] JosephSalisbury opened #9 "Document build process"
I want to (early on) document how to build / release the binary

[2016-02-11 15:16] JosephSalisbury opened #10 "Document core concepts"
We have a few core concepts (groups, group instances, group slices, directory structure), that I'd like to get some solid documentation on.

[2016-02-11 15:16] JosephSalisbury commented on #10
ping @xh3b4sd @zeisss

[2016-02-11 15:16] JosephSalisbury commented on #9
ping @xh3b4sd @zeisss

[2016-02-11 15:17] zeisss opened #11 "Find new name"

[2016-02-11 15:18] JosephSalisbury opened #12 "Set up code coverage"
I'd like to monitor code coverage.
This could either be as part of the CI build, or we use coveralls (or something else :D )

[2016-02-11 15:22] xh3b4sd commented on #6
We agreed on having the group (directory) name as prefix for the unit names. The description does not reflect that. I kind of don't like that. You need to explain why this is necessary.

To explain it here again for other readers. In case units are renamed and updated, the controller implementation needs to know what needs to be removed. Because the unit name changed, the unit as it was named befo

[2016-02-11 15:24] JosephSalisbury commented on #6
Ah, I had forgotten that, I'll update the examples, and put a note in the with the core concepts documentation about this.

[2016-02-11 15:27] xh3b4sd commented on #10
Please link what we have so far.

[2016-02-11 15:29] xh3b4sd commented on #7
Why not copy paste the one we have for all other open source repos?

[2016-02-11 15:30] xh3b4sd commented on #9
Documentation is a valid point in general. I want to prevent to write docs all day in the end. Documentation (as well as other important things like testing) need to be part of the daily business.

[2016-02-11 15:35] JosephSalisbury commented on #9
Totally agree. What I'm trying to do is bring up what we need to document as it happens (in this case, we need to document the build process) as an actual issue, and act on it as soon as possible.

[2016-02-11 15:37] JosephSalisbury commented on #10
As a dump from our discussion:

[code]

[code]

[2016-02-11 15:39] JosephSalisbury commented on #7
I have a concern that we'll just copy and paste it, and won't pay any attention to the actual content or readability, or whether all of it applies to the particular project.
I may be being too OCD about this :/

[2016-02-11 15:45] xh3b4sd commented on #7
IMO some guys already cared about this. So I am out of here. IMO, lets copy/paste what we have and see what we need to do when we need to do something.

[2016-02-12 13:32] #5 closed, assigned to JosephSalisbury

[2016-02-17 11:16] JosephSalisbury commented on #12
Closed in https://github.com/giantswarm/formica/pull/19

[2016-02-17 11:16] #12 closed, assigned to JosephSalisbury

[2016-02-19 14:56] xh3b4sd commented on #10
A group is a collection of unit files that are scheduled on the same host.

[2016-02-22 11:06] zeisss opened #28 "Submit should block until units are submitted"
[code]

afaik we said we want to wait for the status to be reached and have and have `--no-block` option.

[2016-02-23 12:52] zeisss opened #31 "Add List command"
I am missing a way to get all known groups if you have no knowledge of the existing stuff.

[2016-02-23 17:00] zeisss commented on #31
Discussed in the planning. We will do this (refs https://github.com/giantswarm/giantswarm/issues/526)

[2016-02-23 17:01] zeisss commented on #8
Implemented.

[2016-02-23 17:01] #8 closed, assigned to nobody

[2016-02-23 17:01] zeisss commented on #6
Implemented.

[2016-02-23 17:01] #6 closed, assigned to nobody

[2016-02-25 19:03] zeisss opened #38 "Golint Stutter Warnings"
My editor warns me about our current names:

I think I agree here. `TaskObject` could simply be `Task`, `TaskService` become `Service` etc.

Opinions @giantswarm/cena ?

[2016-02-25 21:33] JosephSalisbury commented on #38
Sounds good - I'll ad `golint` to the CI tomorrow, so we can see these things easier.

[2016-02-26 07:32] Nesurion commented on #38
Agreed as well. New names sound better.

[2016-02-26 10:23] xh3b4sd commented on #38
No strong feelings.

[2016-02-26 12:11] xh3b4sd opened #40 "getting status aggregation right"
We need to aggregate states to easily match whenever a unit is running, stopped or failed. I am checking the state matching between fleet and appd. There we compare fleet current state, systemd active and systemd sub state. In formica we decided to use fleet current and fleet desired, and systemd active. So why is that different and how to aggregate the state in formica then?

RFC @zeisss @JosephS

[2016-02-26 12:56] xh3b4sd commented on #40
Here I tried to come up with some status aggregation. The values are translated from the ugly switch statements in appd to some more human readable code. What do you think?

See https://github.com/giantswarm/formica/pull/41 for my aggregation solution.
See https://github.com/giantswarm/app-service/blob/master/service/scheduler-service/util.go#L35 for the ugly switch statements.

[2016-02-29 09:59] zeisss commented on #40
For appd we want to have one status for the whole container chain. We want to map this to `stopped, starting, running, stopping, failed`. To get to the stopping/starting states, we need to inspect the sub state.

For formica we don't want one state - we are fine with showing the users the details (fleet cstate,dstate, systemd..). The aggregation here is information summary with the possibility to

[2016-02-29 13:24] #11 closed, assigned to teemow

[2016-02-29 16:28] zeisss opened #44 "Use maskAnyf() in controller.Service.Submit()"
See discussion here https://github.com/giantswarm/formica/pull/42/files#r54432339

[2016-03-01 09:24] #38 closed, assigned to nobody

[2016-03-01 11:23] #44 closed, assigned to zeisss

[2016-03-03 15:19] Nesurion opened #49 "Add tests for status formatting in CLI"
We want to test the output generated by the status command. https://github.com/giantswarm/giantswarm/issues/545

[2016-03-03 15:58] zeisss opened #50 "status does not show units that have no UnitState in fleet"
Maik hat the case that a unit was intended to be loaded onto a machine (.102) but was not showing up in `fleetctl list-units`.

`formicactl` did not show those units.

[2016-03-04 10:03] Nesurion opened #55 "support storing groups in parent folders"
with a folder structure like:

[code]

inago does not support `inagoctl submit example/ser1`. From a usability perspective it would be nice to support parent folder to store groups in categories and not have to `cd` into the parent folder.

[2016-03-04 14:48] xh3b4sd opened #60 "term instance is still unclear"
The idea of the term `instance` vs `slice` is not clear yet. See https://github.com/giantswarm/inago/pull/52#discussion-diff-55008342.

[2016-03-07 10:56] xh3b4sd opened #62 "allow percentage values for update arguments"
Currently we only support this.

[code]

This should be possible as well.

[code]

[2016-03-07 14:13] zeisss opened #63 "Fleet endpoint with http does not work"
[code]

[2016-03-07 15:27] Nesurion commented on #63
I would take a look at it.

[2016-03-07 15:40] JosephSalisbury opened #66 "Add validation to other commands"
It would be a good idea to integrate the validation into other commands, to make sure that invalid groups are not being submitted, for example.

[2016-03-08 12:48] #63 closed, assigned to Nesurion

[2016-03-08 14:26] Nesurion commented on #49
done with #54

[2016-03-08 14:26] #49 closed, assigned to Nesurion

[2016-03-08 15:10] #66 closed, assigned to JosephSalisbury

[2016-03-10 13:20] JosephSalisbury opened #75 "Command usage text is not consistent"
e.g:

[code]

The descriptions of the commands are not consistent.

I would recommend finding a standard (`etcd` might be a good start, or some other `cobra` based program), and then sticking to that.

[2016-03-10 13:21] JosephSalisbury opened #76 "Improve validate command"
- Command will attempt to validate a directory without any unit files in.
- Help text does not show that multiple group names can be specified.

[2016-03-10 13:21] JosephSalisbury commented on #76
cc @xh3b4sd

[2016-03-10 14:24] JosephSalisbury opened #77 "Try out example test functions"
e.g: `common/common.go`, we have

[code]

It would be nice to have example testing functions for this.

[2016-03-11 13:34] xh3b4sd opened #80 "update: Fix behaviour of --max-growth=0"
Might be the `--max-growth=0` flag is problematic. Having this setting given needs to remove slices first. It also needs to be validated if the settings are not destructive. When you have 2 slices running and `--min-alive=2` and `--max-growth=0` this will not work and should throw an error.

[2016-03-11 17:15] #77 closed, assigned to JosephSalisbury

[2016-03-14 13:56] Nesurion opened #89 "unitfiles without @ don't work"
When omitting the @ sign in the unit file name, inago is not able to handle that unit/group.

Example:

[code]

[code]

[code]

[code]

[2016-03-14 17:14] zeisss opened #91 "start blocks forever for global units with no slices"
With #90 we can now submit global units (see examples/). But starting them, blocks the cli forever (I guess).

[2016-03-14 17:14] zeisss commented on #91
Status works though.

[code]

[2016-03-14 17:17] zeisss opened #92 "Test for Controller.Submit() broken"
The test as it stands should :one: block forever, as the unit submitted is never returned by the fleet mock and :two: should at some point return that unit.

[2016-03-15 10:55] zeisss commented on #50
Fixed.

[2016-03-15 10:55] #50 closed, assigned to nobody

[2016-03-15 11:11] #89 closed, assigned to Nesurion

[2016-03-15 11:20] zeisss commented on #28
we are already blocking now.

[2016-03-15 11:20] #28 closed, assigned to nobody

[2016-03-15 11:31] #40 closed, assigned to xh3b4sd

[2016-03-15 11:31] zeisss commented on #40
Closing as we have this for now. If we want to fine tune, lets make a new issue or just do it.

[2016-03-15 11:32] #75 closed, assigned to JosephSalisbury

[2016-03-15 12:43] zeisss opened #96 "Allow submitting other things than .service"
Currently we replace the extension in our `ExtendSlices()` function with the extension `.service`. This must be fixed to allow timers etc.
- [x] Fix Code
- [x] Add example with a `.timer`
- [ ] Add integration test

[2016-03-15 14:17] zeisss opened #99 "Add kubernetes examples"
Replaces https://github.com/giantswarm/giantswarm/issues/539

[2016-03-15 14:18] zeisss opened #100 "Add to homebrew repository"
Our users just want to do `brew install inago`.

[2016-03-15 14:34] zeisss opened #101 "Do some test deployments on Leaseweb"
To see if we actually need caching and/or retries already, lets do some deployments against slow/full systems, like our leaseweb deployment.
- [x] Validate we need caching or retries
- [ ] Create issues and/or PRs

[2016-03-15 14:37] zeisss opened #102 "Add a restart cmd"
Exact behavior unclear. Lets put it into later.

Open Questions:

Does it stop/start all slices at once or does it iterate over the slices and do it one-by-one?
Sleep inbetween?
Do we have an actual usecase?

[2016-03-15 14:37] zeisss opened #103 "Add up command"
https://gigantic.slack.com/archives/team-cena/p1456481207000400

add inagoctl up to submit + start units
inagoctl start should NOT create units, if they don't exist

[2016-03-15 14:41] zeisss commented on #7
We hav ehttps://github.com/giantswarm/inago/blob/master/CONTRIBUTING.md, good enough.

[2016-03-15 14:41] #7 closed, assigned to nobody

[2016-03-15 14:47] zeisss opened #104 "Ensure we can manage instance groups"
Instance as in groups with unslicable, maybe global units.
- [x] Ensure code works (submit, start, stop, destroy)
- [ ] Updates work with max-growth=0 min-alive=0
- [ ] Updates throw a nice error with max-growth > 0
- [ ] Updates throw a nice error with min-alive > 0
- [ ] UnitTests
- [x] Integration Tests
- [x] Add examples (k8)

[2016-03-15 14:48] zeisss opened #105 "Throw error for impossible update configuration"

[2016-03-15 14:53] zeisss commented on #55
Probably same fix, slightly other case:

[code]

[2016-03-15 14:58] zeisss opened #106 "Automate integration tests"
TB: 1d

Req
- have a separate status in Github PRs
- Have the output of tests available (link?)

Ideas
- Run on a separate ec2 machine, put private ssh key into travis or whatever?

[2016-03-15 18:18] zeisss opened #109 "We are using atomic.AddInt64 wrong"
https://github.com/giantswarm/inago/blob/master/controller/update.go#L248

[2016-03-15 19:14] #109 closed, assigned to zeisss

[2016-03-15 20:08] JosephSalisbury opened #112 "Cache builder in travis"
We download `builder` on every build, which is slightly unnecessary. We should cache it.

[2016-03-16 09:38] JosephSalisbury commented on #92
I'm assuming this is a symptom of #91?

[2016-03-16 09:43] zeisss commented on #92
Unclear to me. #91 is exactly the opposite of this. here I would it expect to bock, but it does not. in #91 it blocks, but it should not.

[2016-03-16 09:44] JosephSalisbury commented on #92
Okay, I'll fix #91 today, and then we can see where we end up with this issue, as well as #96

[2016-03-16 10:02] JosephSalisbury opened #114 "Add version command"

[2016-03-16 10:45] JosephSalisbury opened #115 "Print task IDs from context nicer (and all the other things in the context)"
While debugging, I found I was printing the task IDs in a lot of logging statements. It would be good to add the task ID to the context as early as possible, so it gets passed through automatically.

[2016-03-16 10:53] Nesurion commented on #76
things to improve:
see https://github.com/giantswarm/inago/pull/117

[2016-03-16 11:03] zeisss commented on #76
Maybe also: Show multiple errors / warnings, instead of just one.

[2016-03-16 11:06] Nesurion commented on #76
@zeisss could you elaborate?

[2016-03-16 11:14] zeisss commented on #76
afaict the validate functions we have only return the first problem we see. We have the same logic in our API / CLI. Its annoying for the user to just see the first error, fix that, try again and then get the next error.

Think about a compiler only showing you the first error it sees.

[2016-03-16 11:19] Nesurion commented on #76
@zeisss got you, thanks.

[2016-03-16 12:53] zeisss commented on #115
With #118 we add the ID to the context, but it is still not printed.

[2016-03-16 12:57] JosephSalisbury opened #119 "Print a warning if multiple StatusContext matched while aggregating"

[2016-03-16 13:04] #91 closed, assigned to JosephSalisbury

[2016-03-16 14:20] #96 closed, assigned to JosephSalisbury

[2016-03-16 14:21] JosephSalisbury opened #121 "Improve submission of timers"
Starting a group containing a timer and a timer service currently:
- Hangs on starting
- Starts the timer service

We should come up with some ideas on how to improve this

[2016-03-16 16:27] zeisss opened #124 "submit blocks forever, if group already has a running slice"
[code]

[2016-03-16 16:48] JosephSalisbury opened #125 "Update text is gramatically incorrect"
`Failed to update 1 slices for group 'test-group'` should read `Failed to update 1 slice for group 'test-group'`

[2016-03-16 18:03] JosephSalisbury opened #129 "Cache go dependencies"
We download them every build, caching them would decrease build time

[2016-03-17 09:16] #112 closed, assigned to JosephSalisbury

[2016-03-17 09:27] Nesurion opened #130 "Log Level Definition / Meaning"
I'd like to clarify in which cases we use which log level.
Our logger implementation provides the following log level:

[code]

ping @giantswarm/cena

[2016-03-17 09:32] JosephSalisbury commented on #130
this is what i've been (mentally) working with:
- `Critical`: cases where human intervention is required to stop catastrophic failure (think: losing all units in a cluster) - i haven't seen a good reason to use this yet
- `Error`: an error has occurred (i've been sticking this in `err != nil` blocks)
- `Warning`: something potentially bad has happened (not an error, but you should look into it)
-

[2016-03-17 10:11] Nesurion commented on #130
sounds good to me. should we put a short definition in a comment above the functions in the interface?
https://github.com/giantswarm/inago/blob/master/logging/logging.go#L12

[2016-03-17 10:19] JosephSalisbury opened #131 "Add unit tests to update"

[2016-03-17 10:19] JosephSalisbury commented on #130
Yeah, that sounds good.

[2016-03-17 10:23] Nesurion opened #132 "add comments to log levels"
To clarify what the meaning of a log level is, we should add a comment on the functions in the interface

https://github.com/giantswarm/inago/blob/master/logging/logging.go#L12
- `Critical`: cases where human intervention is required to stop catastrophic failure (think: losing all units in a cluster) - i haven't seen a good reason to use this yet
- `Error`: an error has occurred (i've been stickin

[2016-03-17 10:25] Nesurion commented on #130
closing in favor of issue https://github.com/giantswarm/inago/issues/132

[2016-03-17 10:25] #130 closed, assigned to nobody

[2016-03-17 10:52] #124 closed, assigned to zeisss

[2016-03-17 12:44] JosephSalisbury opened #135 "Add unit tests to filesystem package"

[2016-03-17 12:46] JosephSalisbury commented on #80
https://github.com/giantswarm/inago/issues/105 is related to this

[2016-03-17 12:49] JosephSalisbury opened #136 "Add docker image"
- [ ] Add docker image
- [ ] Add builder config file to push image to public
- [ ] Add a comment to the makefile noting the addition to releasing

[2016-03-17 13:32] #132 closed, assigned to JosephSalisbury

[2016-03-17 13:35] #119 closed, assigned to JosephSalisbury

[2016-03-17 13:42] #9 closed, assigned to JosephSalisbury

[2016-03-17 13:45] JosephSalisbury opened #138 "Add GitHub releases to `Getting Inago` README section"
We should have a link to the github releases section in the `Getting Inago` section of the README

[2016-03-17 13:47] JosephSalisbury commented on #10
I'd argue this is already satisfied by what we have in `docs/`. @giantswarm/cena thoughts?

[2016-03-17 13:48] JosephSalisbury commented on #31
@zeisss judging by your above comment, i don't think this shouldn't be in the backlog currently. I'm moving it to `later.`

[2016-03-17 13:51] JosephSalisbury commented on #60
@giantswarm/cena I'm not certain what is required here.

From `docs/terms.md`, we have:

[code]

It looks to me like the docs are saying that multiple `instances` make up a `group slice`. Is this correct?

[2016-03-17 13:55] zeisss commented on #10
We maybe want to add a page about the idea of update and what that means e.g. for sliceable groups vs instance groups.

[2016-03-17 13:56] zeisss commented on #60
Not in my head at least. thats the whole discussion. we have a group which is a) the folder on disk with the unit files and b) the virtual thing that can be addressed for start/stop/destroy which maps to either all slices or the single "slice" (when its an instance, so no `@` in the unit filenames)

[2016-03-17 14:04] JosephSalisbury commented on #92
@zeisss i don't know what this issue requires.

[2016-03-17 14:08] JosephSalisbury commented on #100
We'll need to wait till _after_ we release to do this, as we'll need to upload a binary to S3.
Then, it's just a case of adding a formula to https://github.com/giantswarm/homebrew-swarm

[2016-03-17 14:16] zeisss commented on #92
Can you look at the controller.Submit test? There is an inconsistency in the test setup, which when you think about it - should mean that the test SHOULD block forever.

[2016-03-17 14:52] JosephSalisbury opened #139 "Add hadoop example"

[2016-03-17 15:00] #138 closed, assigned to JosephSalisbury

[2016-03-17 17:16] zeisss opened #143 "inagoctl update throws error in case update is not needed"
We might want to think about handling this case as a success?

[2016-03-21 09:40] JosephSalisbury commented on #143
@zeisss `inagoctl update`?

[2016-03-21 09:41] JosephSalisbury opened #145 "Spin up new integration test machine on each build"
From https://github.com/giantswarm/inago/pull/111

This would help with tests interfering with each other, but is expensive, hence why I'm putting it straight into later. It's a "for when we're millionaires" ticket.

[2016-03-21 09:51] zeisss commented on #145
That's not what I meant. The PR looked like it uses a handcrafted machine, not sthg automated with CloudFormations / Kocho / Fabric or whatever.

[2016-03-21 09:55] JosephSalisbury opened #146 "Automate set up of integration test machine"
We should be able to bring up a new integration test machine with one click.

[2016-03-21 09:55] JosephSalisbury commented on #145
Ack - see https://github.com/giantswarm/inago/issues/146

[2016-03-21 10:35] #106 closed, assigned to JosephSalisbury

[2016-03-21 10:36] JosephSalisbury opened #147 "Fix go get issue in build"
[code]

[2016-03-21 11:05] zeisss opened #149 "destroy should support slices"
`update` just threw an error and I ended up with a third stopped slice I didn't want to have. `inagoctl destroy mygroup@a8a` didn't work, it reported unit not found. I suspect destroying slices is not supported.

[2016-03-21 13:51] #147 closed, assigned to JosephSalisbury

[2016-03-21 13:58] zeisss opened #153 "update sometimes fails with "slice not running""
I am not sure which task failed here. The logs are not really expressive.

[2016-03-21 14:01] JosephSalisbury opened #154 "Fix failing integration tests"
See: https://travis-ci.org/giantswarm/inago/jobs/117454270

`002-update.t` and `004-update.t` are both failing.

[2016-03-21 14:01] JosephSalisbury commented on #154
ping @zeisss

[2016-03-21 14:02] JosephSalisbury commented on #143
Yeah, if an update is not needed, it shouldn't be an _error_. I'd say it's a success case.

[2016-03-21 14:03] zeisss commented on #154
Might be #153

[2016-03-21 14:04] zeisss commented on #154
Although https://travis-ci.org/giantswarm/inago/jobs/117454270#L290-L312 is a different thing.

[2016-03-21 14:27] zeisss opened #155 "ReadySec is just a sleep, afterwards is no status check"
The idea behind `readySecs` is, that this must be the minimum number of seconds the slice must be alive. If the slice dies in that time, the update should fail.

[2016-03-21 15:16] JosephSalisbury opened #157 "Cleanup old files on integration test server"
We push the binary and the integration tests to a temporary directory on each build. We should add a check in the integration test suite to clean up /tmp/ if it gets too large.

[2016-03-21 15:58] JosephSalisbury commented on #92
If you're talking about https://github.com/giantswarm/inago/blob/master/controller/controller_test.go#L547, I can't say I see it.

[2016-03-21 16:03] zeisss commented on #92
Look at submit please. https://github.com/giantswarm/inago/blob/master/controller/controller_test.go#L518 vs https://github.com/giantswarm/inago/blob/master/controller/controller_test.go#L529

[2016-03-21 16:24] zeisss opened #158 "Verify no-need-for-update check works if units are not scheduled onto machine"
https://travis-ci.org/giantswarm/inago/jobs/117487767 fails and reports an "units already up to date", although the test clearly modifies the local file. Maybe our check here is broken when the units are not scheduled correctly onto machines?

[2016-03-21 16:46] #99 closed, assigned to Nesurion

[2016-03-21 16:46] #76 closed, assigned to Nesurion

[2016-03-21 16:50] #157 closed, assigned to JosephSalisbury

[2016-03-21 17:33] zeisss commented on #153
Probably closed by #156

[2016-03-21 17:33] #153 closed, assigned to zeisss

[2016-03-21 17:35] zeisss commented on #154
#156 helped a lot.

[2016-03-21 17:35] #154 closed, assigned to nobody

[2016-03-22 09:38] Nesurion commented on #143
This is more a cli specific thing right? Another client might expect an error if the unit files didn't change.
In conclusion we would handle the "not updating because files didn't change" in the cli by inspecting the returned error.

[2016-03-22 10:03] JosephSalisbury commented on #143
Maybe we have a flag for the "throw an error if unit files didn't change" behaviour, and if it's present, then we return a non-zero exit code.

e.g:

[code]

[2016-03-22 10:03] JosephSalisbury opened #160 "Add go report card"

[2016-03-22 10:54] #125 closed, assigned to JosephSalisbury

[2016-03-22 13:58] zeisss commented on #96
Followup: #121

[2016-03-22 13:59] zeisss commented on #106
Followup #145 #146

[2016-03-22 13:59] zeisss opened #164 "Int Tests are slooooowww"

[2016-03-22 14:02] zeisss commented on #147
see #148 for fix

[2016-03-22 14:09] zeisss commented on #80
TODO

This is covered by #105:

[2016-03-22 14:14] zeisss opened #165 "=== RC1 ==="
Lets make RC1, so we can get feedback.
- [x] Merge https://github.com/giantswarm/inago/pull/162
- [x] Merge https://github.com/giantswarm/inago/pull/163
- [x] Merge https://github.com/giantswarm/inago/pull/173
- [x] Merge https://github.com/giantswarm/inago/issues/114
- [x] Search and replace for `formica`
- [x] Write, get a thumbs up on release notes
- [x] Create GitHub release, title as `RC1` (m

[2016-03-22 14:21] zeisss commented on #115
actually it is also printed, but it looks ugly and does not overwrite each other but gets appended somehow.

[2016-03-22 14:22] zeisss opened #166 "Docs: Document working extensions"
#121 says timers are broken. We should document that currently only `.service` works mostly.

[2016-03-22 14:25] zeisss commented on #155
We actually need to test this, since the status is read somewhere afterwards, but it is not explicit.

[2016-03-22 14:27] zeisss commented on #160
see https://goreportcard.com/report/github.com/giantswarm/inago

[2016-03-22 14:33] zeisss commented on #101
First check on Testcluster, maybe then live

Do ghostbuster, appd

[2016-03-22 14:36] zeisss opened #167 "== Full Release ==?"

[2016-03-22 15:10] Nesurion commented on #166
Done with #168

[2016-03-22 15:10] #166 closed, assigned to Nesurion

[2016-03-22 15:21] zeisss commented on #104
:white_check_mark:  Just doing `inagoctl update` returns an error

[code]

This error currently comes for every combination of arguments for `inagoctl update`.

[2016-03-22 15:24] #160 closed, assigned to zeisss

[2016-03-22 21:06] JosephSalisbury opened #171 "Expand update unit testing coverage"
https://github.com/giantswarm/inago/pull/162 introduced a fair amount of testing, but we can do better.

[2016-03-23 09:45] #131 closed, assigned to JosephSalisbury

[2016-03-23 10:15] zeisss opened #174 "Support more than http api or local domain socket"
For our production servers, we are not exposing fleet over http, not even within the VPN. So to use inago there, we would need to copy it over along with the unit files to one of the servers and execute it remotely.

These are unnecessary steps. OpenSSH ships domain socket proxying with [6.7](https://lwn.net/Articles/609321/), but thats not in the standard version of OS X. Any other hints how to u

[2016-03-23 10:24] JosephSalisbury commented on #100
Actually, it would be better to use the release tarball, if we can.

[2016-03-23 10:53] JosephSalisbury commented on #174
@zeisss I wouldn't mind a more descriptive title

[2016-03-23 10:54] #143 closed, assigned to Nesurion

[2016-03-23 11:08] zeisss commented on #174
e.g. Fleetctl supports doing domain sockets over ssh IIRC

[2016-03-23 11:27] Nesurion commented on #114
#175 adds the command

[2016-03-23 11:42] JosephSalisbury commented on #100
Also, let's update the release notes after we have this all set up

[2016-03-23 12:50] #114 closed, assigned to Nesurion

[2016-03-23 13:03] JosephSalisbury commented on #100
And the readme!

[2016-03-23 14:19] #100 closed, assigned to Nesurion

[2016-03-23 14:42] Nesurion commented on #10
done with #173

[2016-03-23 14:42] #10 closed, assigned to puja108

[2016-03-23 14:55] JosephSalisbury commented on #165
@puja108 is handling the coreos users mailing list, so i'm gonna close this.

Hurrah for releasing things! :tada:

[2016-03-23 14:59] Nesurion commented on #60
current version of docs contain a clear definition in my opinion. Thoughts @giantswarm/cena

[2016-03-23 15:51] JosephSalisbury commented on #60
I'd like to get @zeisss' opinion, but I think we're good enough for now. We will improve documentation as we go along.

[2016-03-23 15:53] Nesurion commented on #149
It seems that the problem is caused by not detecting the `@a8a` part as the slice ID. The request against is the controller looks like this:

[code]

I'd say we need to fix that in the cli, since the request is just doesn't make sense like this.

[2016-03-23 15:59] Nesurion commented on #149
I guess we could either:
:a: parse the `mygroup@3e3` to `controller.RequestConfig{Group:"mygroup", SliceIDs:3e3}`
:b: provide the group and the slice as separate command line arguments:
`$ inagoctl destroy mygroup 3e3`

[2016-03-23 16:23] zeisss commented on #149
+1 for :a:

[2016-03-23 16:27] JosephSalisbury commented on #149
+1 for :a: , we should be able to split on "@"

[2016-03-23 16:38] Nesurion commented on #149
I'd argue that going with :a: also means that there will be no way to provide more than one slice ID when running the command. (we could introduce a separator like `,`. But that feels ugly)
Option :b: would allow that in a clean way:
`inagoctl destroy <group> [sliceID...]`
`inagoctl destroy mygroup 3e3 abc`

[2016-03-23 16:48] JosephSalisbury commented on #149
i think `inagoctl destroy mgroup@3e3 mygroup@abc` isn't a bad solution - if anything, you're probably going to be copying these out of a status output anyway.

I think this would be more consistent with the other commands, too

[2016-03-23 16:54] Nesurion commented on #149
agreed on the copy-paste from status argument.
But in terms of other commands, I'd argue that the submit command defaults to number of slices to 1, but you are able to overwrite that by providing the desired number.

[2016-03-23 16:58] JosephSalisbury commented on #149
I meant more with regards to start/stop, you can provide multiple group slices there

[2016-03-23 17:12] Nesurion commented on #149
Going with option :a: :
By using fleetctl one gets used to addressing the things managed by fleet (so units) with the name and the ID separated by the @ sign.
Since inago abstracts units into groups, it is more consistent to use the same naming pattern for the smallest thing managed by the tool (in this case groups).

[2016-03-24 09:47] zeisss commented on #60
Lets go with this for now and wait for people to complain.

[2016-03-24 09:47] #60 closed, assigned to nobody

[2016-03-24 14:04] JosephSalisbury opened #181 "Extract actions from controller methods"
The pattern we have of controller methods returning tasks means that testing the actions defined inside in the controller methods is very difficult, as it requires poking the controller and task service.

I reckon we should pull out the actions, so they can be tested easier.

[2016-03-24 14:19] Nesurion commented on #149
destroy support sliceIDs done with #180
start/stop support sliceIDs done with #182

[2016-03-24 14:19] #149 closed, assigned to Nesurion

[2016-03-24 15:10] #165 closed, assigned to JosephSalisbury

[2016-03-24 15:12] JosephSalisbury opened #184 "Add fleet dummy implementation"
We have stub fleet mocks in a lot of places, I think investing the time in a proper mock that we can re-use would be worth it.

[2016-03-24 15:14] zeisss commented on #184
whats missing in the mock? You can define function calls, responses, number of calls etc.

[2016-03-29 10:38] JosephSalisbury commented on #104
with

[code]
- :white_check_mark: submit, start, stop and destroy all work
- :x: update with max-growth=0 and min-alive=0, gives:

[code]
- :x: updates don't throw a nice error with max-growth > 0, because the "cannot update unsliceable group" error fires

[code]
- :x: updates don't throw a nice error with min-alive > 0 - it would be better if it was more explicit

[code]

@zeisss I'm going to mak

[2016-03-29 10:41] JosephSalisbury opened #186 "Add support for updating instance groups"
We don't currently support updating instance groups:

e.:g

[code]

[code]

[2016-03-29 10:43] JosephSalisbury opened #187 "Updating an instance group with max-growth > 0 should show a nice error message"
When updating an instance group, max-growth > 0 is nonsensical, as the group cannot scale, by definition. If the user attempts to update an instance group with max-growth > 0, a nice error message should be printed.

[2016-03-29 10:47] JosephSalisbury opened #188 "Error message should be printed when updating instance group with min-alive > 0"
When updating an instance group with min-alive > 0, a nice error message should be shown.

[2016-03-29 10:47] JosephSalisbury commented on #104
- generally updating instance groups: https://github.com/giantswarm/inago/issues/186
- error message on updating instance groups with max-growth > 0: https://github.com/giantswarm/inago/issues/187
- error message on updating instance groups with min-alive > 0: https://github.com/giantswarm/inago/issues/188

[2016-03-29 10:49] #104 closed, assigned to JosephSalisbury

[2016-03-29 11:10] #105 closed, assigned to JosephSalisbury

[2016-03-29 11:43] zeisss commented on #104
I guess having any errors at all is the goal here.

UnitTests) Just add a test to check that update throws an error, so we don' t accidentally add code in the future that makes it work.

[2016-03-29 11:45] JosephSalisbury commented on #104
okay cool, that should be folded in as part of the more explicit tickets

[2016-03-29 12:37] zeisss opened #189 "Automate homebrew releases"

[2016-03-29 12:37] zeisss commented on #189
In #100 we did this manually.

[2016-03-29 12:57] #167 closed, assigned to nobody

[2016-03-29 13:14] zeisss commented on #129
builder should cache them, if we use `builder go get` or `builder get`

[2016-03-29 13:16] zeisss opened #190 "Vendor dependencies"
Vendor all the things :P

[2016-03-29 13:16] zeisss commented on #129
Actually, lets just vendor the dependencies. See #190

[2016-03-29 13:16] #129 closed, assigned to nobody

[2016-03-29 13:30] zeisss commented on #146
Eat our dog food: Let's use Kocho here :P

[2016-03-29 13:46] zeisss commented on #101
Blocked by #174 if you are lazy

[2016-03-29 13:47] zeisss commented on #189
Replaced by https://github.com/giantswarm/builder/issues/89

[2016-03-29 13:47] #189 closed, assigned to nobody

[2016-03-29 14:28] JosephSalisbury commented on #80
For clarity:
I'm working on checking - and fixing if this is not the case - the behaviour when max-growth is set to zero: for example, a group of two group slices, when updated with max-growth set to zero (and, assumedly, min-alive set to one), should have an update along the lines of:
- remove the first group slice
- create a new group slice
- remove the second group slice
- create a new group sl

[2016-03-29 14:47] JosephSalisbury commented on #80
Yes, this isn't working currently:

[code]

The update then hangs continuously.

[2016-03-30 09:01] Nesurion commented on #92
works as intended, but test coverage was bad. Fixed with #185

[2016-03-30 09:01] #92 closed, assigned to Nesurion

[2016-03-30 09:35] zeisss opened #192 "Example: Elasticsearch"
We want to determine whether the current inago feature set is sufficient for setting up a production-ish ELK logging set up. If it is, we should work on the example; if it isn't, we need to determine what features are missing. This issue tracks the work of determining that.
- Elasticsearch
- Kibana
- Logstash-Forwarder (global)

[2016-03-30 09:47] zeisss commented on #192
Look at what releaseit does here.

[2016-03-30 09:47] zeisss opened #193 "Think about Example for Prometheus"
We want to determine whether the current inago feature set is sufficient for setting up a production-ish prometheus set up. If it is, we should work on the example; if it isn't, we need to determine what features are missing. This issue tracks the work of determining that.

Check our releaseit how we do it there.

[2016-03-30 10:48] #184 closed, assigned to JosephSalisbury

[2016-03-31 14:32] #103 closed, assigned to JosephSalisbury

[2016-04-04 12:57] xh3b4sd commented on #192
I looked at the unit files created by releaseit. My main concern was that we do only support `.service` unit types.

This is my releaseit command to check the unit files.

[code]

My thoughts.
- Depending on the used storage we are fine. AFAIK when using local storage we need `.mount` unit files.
- Releaseit also creates the `elasticsearch-curator`, which uses a `.timer` unit to continuously clean

[2016-04-04 13:05] xh3b4sd commented on #193
IMO the same comment as stated here https://github.com/giantswarm/inago/issues/192#issuecomment-205285748 applies to this issue. When we support all kinds of unit types (`.mount`, `.timer`, etc.), we are fine and can provide all kinds of examples.

[2016-04-04 13:16] xh3b4sd commented on #155
Do we have evidence that this is actually broken? There is a check. See https://github.com/giantswarm/inago/blob/master/controller/update.go#L111

[2016-04-04 13:27] zeisss commented on #155
@xh3b4sd no, no evidence. I just looked at the code and was very confused. I had the feeling that this somehow worked because it just blocked longer.

Still, the discussion: There is an explicit feature connected to `readySec`. Should we make it explicit in the code?

[2016-04-04 13:30] xh3b4sd commented on #155
Please elaborate.

How to make this more explicit?

[2016-04-04 13:31] zeisss commented on #155
Adding a status check, which throws an error after the `Sleep` would be an option

[2016-04-04 13:34] xh3b4sd commented on #155
IMO we already do this.

[2016-04-04 14:36] xh3b4sd commented on #174
I would simply go the fleetctl way. It works. It is there. Having a look should ease the implementation here.

[2016-04-04 14:52] xh3b4sd commented on #186
AFAIK there is nothing like an instance group in Inago. My last information were there are unit groups and units. So what is this issue about? I don't really get it based in the issue description.

[2016-04-05 11:59] #80 closed, assigned to JosephSalisbury

[2016-04-05 12:49] zeisss commented on #192
@xh3b4sd FYI: Releaseit now has an `export-inago-path` flag in the `./releaseit create` command.

[2016-04-05 12:54] zeisss commented on #192
ping @giantswarm/cena

[2016-04-05 13:30] zeisss opened #201 "Get goreport up to 100%"
https://goreportcard.com/report/github.com/giantswarm/inago

Because @josephsalisbury was too lazy!!!!!!!!!!!!!!!!!!!!!!!

[2016-04-05 13:33] zeisss opened #202 "Make builder minor release"
Since we changed the var in #91 we should do a release of builder. Please also provide a nicer response in #87 to teemow after this was published.

[2016-04-05 13:46] zeisss commented on #174
please merge #200 and make a n pr for the integration tests.

[2016-04-05 13:51] zeisss commented on #155
ping @giantswarm/cena opinions please

[2016-04-05 14:26] zeisss commented on #186
ack, the correct term is "group instances", as in the groups with one slice that has no sliceID (aka no `@XXX` in the unit name).

[2016-04-05 14:28] zeisss commented on #186
I think the goal of the issue is that our `inagoctl update` should detect this and do a remove first, then add it again. Not sure we want to work this into the existing update logic or just implement a second version that is triggered when we see we want to update a group instance.

[2016-04-05 14:29] Nesurion opened #203 "Add integration test for tunnel flag"
Write an integration test for the tunnel flag. The tunnel flag might point to `localhost` on the integration test machine.
ssh agent forwarding is probably needed.

[2016-04-05 14:30] JosephSalisbury commented on #155
yeah, we check that the units are running after we update them, so i think this is fine

[2016-04-05 14:31] JosephSalisbury commented on #202
We might as well wait till https://github.com/giantswarm/builder/issues/88 is fixed

[2016-04-05 14:49] zeisss commented on #174
Lets close this when the integration tests are there.

[2016-04-05 16:14] JosephSalisbury commented on #202
er @zeisss - why's this in the `inago` repository? :D

[2016-04-05 16:17] zeisss commented on #202
yeah, to check you are awake. Closing for builder#93

[2016-04-05 16:17] #202 closed, assigned to JosephSalisbury

[2016-04-05 16:17] JosephSalisbury commented on #202
<3

[2016-04-06 12:57] JosephSalisbury opened #206 "On updating, we should ignore failed units"
On updating, when we remove units, we should ignore units with a failed state - they're going away anyway.

[2016-04-06 12:57] JosephSalisbury commented on #206
ping @xh3b4sd

[2016-04-06 12:58] JosephSalisbury opened #207 "Add integration test with a full Docker container"
None of our current integration tests actually run a Docker container, they're all dummy units. We should add one that runs a Docker container.

[2016-04-06 12:59] JosephSalisbury opened #208 "Put git commit hash into version"
The git commit hash for the build should be in the `version` command - possibly via `-v`.

[2016-04-06 13:02] JosephSalisbury commented on #192
current todo:
- [ ] Sort out the elasticsearch group
- [ ] Write an example for it

[2016-04-06 13:02] JosephSalisbury opened #209 "Add back max attempts failed check"
If an update command locks up - i.e: it keeps trying to add / remove slices, we should abort the update.

[2016-04-06 13:24] JosephSalisbury commented on #192
@xh3b4sd i've stolen assignment :D

[2016-04-06 14:05] JosephSalisbury opened #210 "If a group name is suffixed with '/', remove the slash"
I use tab completion a lot, it would be nice if I didn't have to backspace

[2016-04-06 14:07] xh3b4sd commented on #206
See referenced PR.

[2016-04-06 14:15] Nesurion opened #212 "update command fails when using the tunnel flag"
The update always fails when running an update with the tunnel flag:
`inagoctl -v --ssh-strict-host-key-checking=false --tunnel=172.17.8.101 update --min-alive 0 mygroup`

[code]

[2016-04-06 14:35] Nesurion commented on #212
verbose output log:

[code]

[2016-04-06 14:36] #206 closed, assigned to nobody

[2016-04-06 15:29] JosephSalisbury opened #213 "Update can cause an extraneous slice to be created"
@xh3b4sd and I had a case today where we had two slices running, and an update with min-alive=1, max-growth=0 presented an update like so:
1. [339, 591]
2. [591]
3. [0a0, 591, 72e]
4. [0a0, 72e]

It would seem that at 3, 2 additional slices were made. With max-growth=0, we would expect only one slice to have been created at this point.

[2016-04-06 15:29] JosephSalisbury commented on #210
Lol, this is nix, not windows

[2016-04-07 09:28] zeisss commented on #207
Yeah, a more fullblown example might be nice, or just sthg that takes more time.

[2016-04-07 09:29] zeisss commented on #212
Maybe you are not allowed to perform two requests in parallel over the SSH socket?

[2016-04-07 13:08] puja108 opened #215 "integrate functionality for managing and updating global units"
basically look into if we can somehow integrate what we did in https://github.com/giantswarm/fleet-unit-replicator

[2016-04-07 14:31] Nesurion commented on #212
more debug output. The [SSL] outputs come from here https://github.com/golang/crypto/tree/master/ssh
running the update command:

[code]

second request to fleet:

[code]

third request:

[code]

what looked strange to @xh3b4sd and me is the `PeersId:0x2` on sending message and `PeersId:0x1` in the reply message: the id differs. This is not the case in the first request.

[2016-04-07 16:34] xh3b4sd commented on #212
I can now confirm that it is because of parallel requests, but I wonder how we can achieve parallel requests over ssh tunnels. We could synchronize and sleep between each dial but this is the only and the worst solution I can think of.

[2016-04-08 07:29] Nesurion opened #216 "updating fails when only one slice exists"
I deployed a group with one slice and then tried updating it with:
`inagoctl update mygroup`
so using the default parameters: `--max-growth=1` `--min-alive=1` `--ready-secs=30`.

inago starts a second slice and waits until its up. Destroying the old slice however does not happen. It repeats the following step forever:

[code]

fleetctl list-units:

[code]

[2016-04-08 09:56] JosephSalisbury opened #217 "Add a general installation section to getting started docs"
https://github.com/giantswarm/inago/blob/master/docs/getting_started.md should have a section on getting / installing inago

[2016-04-08 12:03] JosephSalisbury opened #218 "Increase info logging output during update"
It would be good to see when an instance is created / destroyed

[2016-04-08 12:06] JosephSalisbury opened #219 "Improve locations of unit files for walkthroughs"
The kubernetes walkthrough is in `docs`, and the unit files are in `example`. We need to decide if we want to keep them in seperate locations, or unify them.

[2016-04-08 12:08] JosephSalisbury opened #220 "`docs` and `example` are not named consistently"
It should be `docs` and `examples` or `doc` and `example`.

I'd say the former (plurals), personally.

[2016-04-08 12:09] zeisss commented on #220
+1 Plural. Thats what we used in our https://github.com/giantswarm/example-opensource-repo anyways.

[2016-04-08 15:08] #192 closed, assigned to JosephSalisbury

[2016-04-08 15:09] JosephSalisbury commented on #101
@xh3b4sd I'm going to close this, after the testing we did on Wednesday.

[2016-04-08 15:09] #101 closed, assigned to nobody

[2016-04-08 15:16] zeisss commented on #101
@JosephSalisbury Whats the result? what did you deploy? did it work?

[2016-04-08 15:18] xh3b4sd commented on #101
We deployed the elastic search example back and forth. Even you did @zeisss

[2016-04-08 15:18] JosephSalisbury commented on #101
Sorry, I'm being lazy.

We deployed the elasticsearch example (using our private elasticsearch image, mind) onto leaseweb, and performed a rolling update (without data loss). And it worked! :tada:

In terms of additional work, we did note https://github.com/giantswarm/inago/issues/213, which we decided was not a blocker.

[2016-04-08 15:30] JosephSalisbury opened #221 "Deploy releaseit export with inago"
To test releaseit (an internal giantswarm tool) interaction with inago, we should try and deploy a releaseit export

[2016-04-11 08:43] JosephSalisbury commented on #155
@giantswarm/cena - Is there any action required on this?

[2016-04-11 08:46] zeisss commented on #155
seems not so. Lets close this.

[2016-04-11 08:46] #155 closed, assigned to nobody

[2016-04-11 09:15] JosephSalisbury commented on #174
Closing via https://github.com/giantswarm/inago/issues/204

[2016-04-11 09:15] #174 closed, assigned to Nesurion

[2016-04-11 09:17] Nesurion commented on #212
fixed with #204

[2016-04-11 09:17] #212 closed, assigned to Nesurion

[2016-04-11 09:18] Nesurion commented on #203
done with #204

[2016-04-11 09:18] #203 closed, assigned to Nesurion

[2016-04-11 11:06] JosephSalisbury commented on #221
cool, @Nesurion and I exported from releaseit, and brought up appd on leasweb-test. output from appd looked good. i am satisfied the export works, and inago can handle it.

[2016-04-11 11:51] JosephSalisbury commented on #221
I'm gonna test updating appd on leaseweb-test

[2016-04-11 12:08] puja108 opened #223 "tunnel mode needs to be documented"
as we now have working tunnel mode, we should also have it in the docs

[2016-04-11 12:21] JosephSalisbury commented on #221
Yeah, that went off without a hitch <3

[2016-04-11 12:21] #221 closed, assigned to JosephSalisbury

[2016-04-11 12:27] JosephSalisbury opened #224 "Submitting conflicting units causes a loop"
We had a case where we already had two group slices, and wanted to submit two more. All the group slices conflict.
With only three machines, the fourth group slice cannot load, and this caused a loop in inago, as it waited .

[2016-04-11 12:27] JosephSalisbury commented on #224
I'd say it's a great argument for https://github.com/giantswarm/inago/issues/209, but in the general case

[2016-04-11 12:33] JosephSalisbury opened #225 "Add slack integration"
It would be nice to be notified in slack when people are doing stuff with the cluster

[2016-04-11 13:46] puja108 opened #226 "k8s example should use containers"
currently it's running binaries directly

[2016-04-11 13:48] puja108 opened #227 "get k8s example to be able to be updated"
For a first release this does not need to be fully HA (or rather zero downtime), yet. However, @JosephSalisbury mentioned that we could use the "conflicts + n group slices trick" to get updates working.

[2016-04-11 15:07] xh3b4sd commented on #188
We already have this. https://github.com/giantswarm/inago/blob/474a3d620556e6d6ecb4b5a351cc6e7dc21d5559/controller/controller.go#L381

Closing.

[2016-04-11 15:07] #188 closed, assigned to nobody

[2016-04-11 15:09] xh3b4sd commented on #187
Again the term instance group is confusing to me. What is this issue about? Is this already covered in https://github.com/giantswarm/inago/blob/474a3d620556e6d6ecb4b5a351cc6e7dc21d5559/controller/controller.go#L358 ?

[2016-04-11 15:10] xh3b4sd commented on #171
Looking at the coverage it currently looks not that bad. Anything left we want to do here?

[2016-04-11 15:13] xh3b4sd commented on #158
This issue is quite old and AFAIK our integration test suite is doing well. Is this still valid? If so, can you elaborate a little bit more on the actual problem?

[2016-04-11 15:39] JosephSalisbury commented on #171
If you're happy with it, I'm happy with it. The new update integration test stuff helps.

[2016-04-11 15:40] JosephSalisbury commented on #187
Instance group == an unsliced group. E.g: test-unit.service. I'm not certain what our update support is like for this right now, though.

[2016-04-11 15:41] xh3b4sd commented on #171
Lets close this then.

[2016-04-11 15:41] #171 closed, assigned to nobody

[2016-04-11 15:43] xh3b4sd commented on #187
Is the condition then simply "if numRunning is 1and maxGrowth is 0, throw an error"?

[2016-04-11 15:46] JosephSalisbury commented on #187
Not exactly. With group slices (sliceable groups), we _can_ grow them. With group instances (unsliceable groups), we can't grow them. In that latter case, specifying a max-growth is incorrect.

[2016-04-11 15:46] JosephSalisbury commented on #187
So, more "if group is not sliceable, and maxgrowth > 0"

[2016-04-11 15:49] xh3b4sd commented on #187
For me the result would be the same. Why would we want to prevent killing all instances for a "none-sliced" group but not for a "sliced" group? Why making a difference between slicable or not?

[2016-04-11 16:05] JosephSalisbury commented on #187
The update strategy is different between sliceable and unsliceable groups.

With sliceable groups, we can grow as much as we want, as long as we respect min-alive.
With unsliceable groups (although, updating these isn't supported yet https://github.com/giantswarm/inago/issues/186), we can't grow - we need to remove and add. so, in this case, max-growth doesn't make sense.

[2016-04-11 16:09] xh3b4sd commented on #187
This is not true when `maxGrowth` is set to `0`, and this issue is about exactly that setting. So again, where is the difference?

[2016-04-11 16:23] #217 closed, assigned to JosephSalisbury

[2016-04-11 16:28] JosephSalisbury commented on #187
[code]

[2016-04-12 09:39] zeisss commented on #158
I can't even see the error in that job anymore. Hard to investigate. Lets close this.

[2016-04-12 09:39] #158 closed, assigned to nobody

[2016-04-12 13:47] zeisss commented on #209
Example:
Having a unit that conflicts with itself. If you try to create more slices than there are available machines, it blocks forever, as the unit never gets loaded.

[2016-04-12 13:52] zeisss commented on #219
ping @puja108 opinion?

[2016-04-12 13:56] zeisss commented on #225
Lets make it optional / deactivatable, as I forsee usage of inago in CI/CD pipelines.

[2016-04-12 13:56] zeisss commented on #226
why?

[2016-04-12 14:04] zeisss commented on #227
This is a workaround. I would vote against this.

It doesn't work when adding more machines. We could instead use the unit-replicator or just wait until we have implemented that logic into the inago itself.

[2016-04-12 14:34] puja108 commented on #219
yeah, it seems kinda strange keeping them apart, don't have a very strong opinion on this, maybe @marians has as he has put some thoughts into how to show `docs` directly on the the website. I'd kinda like to have them together, but I don't know how that works together with the `docs` on website implementation.

[2016-04-12 14:35] puja108 commented on #227
I thought the result of the product planning was that we do the workaround now and the right implementation in a following step/version. Or did I understand @teemow wrong?

[2016-04-12 14:37] puja108 commented on #226
Because we (try to) deploy all our infrastructure modules in containers and their easier to maintain and update compared to binary based unit files?

[2016-04-12 14:43] marians commented on #219
IMHO `/docs` should only contain markdown content and images to be shown inside these markdown pages.

[2016-04-12 14:49] puja108 commented on #219
Then maybe we should link over somehow? For example:
- Links from the .mds to the example direcotries
- A README in the `examples` directory that links out to the howto .mds
  Thoughts?

[2016-04-12 15:32] marians commented on #219
Linking is fine, ideally only from `docs` to `examples`, not vice versa. And please use absolute URLs (`http://github.com/...`).

[2016-04-12 15:35] zeisss commented on #227
IIRC we just go with the global agents we already have, mention that this is not good, that we internally use fleet-unit-replicator (which is now open-source) and will extend Inago in the future to handle this in one tool.

[2016-04-12 15:46] hectorj2f commented on #226
"Everybody" uses systemd units on which the k8s binaries are launched

[2016-04-12 17:28] hectorj2f commented on #226
Well, you can sometimes find some examples with docker containers.... poor people https://github.com/coreos/etcd/pull/4106/files

[2016-04-13 08:17] puja108 commented on #219
@marians what would be a reason for not (also) linking from `examples` to `docs`? When I browse the git and see there's examples I'll be in that folder and if there's nothing in there telling me there's docs for some of these examples, I might never for look for them.

[2016-04-13 08:19] puja108 commented on #226
I'm not on any side of this argument, I was just of the impression that it would be nicer style to use containers, but I'm ok if there's good arguments for binaries and this is closed.

[2016-04-13 08:19] marians commented on #219
The only reason I can think of is that the canonical location for the docs should be at giantswarm.io/products/inago/... at some point. Not really a good reason to prevent links to the docs subfolder, I admit.

[2016-04-13 08:24] puja108 commented on #227
Ok, just so I understand that correctly, if we do a `inagoctl update` on a global unit it goes through but it implies some downtime (takes down all units and replaces them with new ones), right?

[2016-04-13 08:27] JosephSalisbury opened #229 "Update to use golang 1.6.1"

[2016-04-13 14:55] #229 closed, assigned to JosephSalisbury

[2016-04-13 15:04] #208 closed, assigned to xh3b4sd

[2016-04-13 15:06] xh3b4sd commented on #215
I would like to talk about that. So lets assume I have a fleet cluster running having three machines in it. Then I am starting a global unit that is scheduled to each of the three machines. Now I want to update the global units. There are different cases and needs possible.

###### I don't care, just update the shit

I have no concerns whatsoever. The only thing I want to achieve is to update the

[2016-04-13 15:19] JosephSalisbury commented on #215
I think this ticket has the potential to expand into a "do we want to have a client-server architecture" discussion. I'd say it'd be a good idea to collect some examples of cases we would like to support in the future (this is one of them), and see what that looks like for future design.

[2016-04-13 15:20] JosephSalisbury commented on #215
Instead of trying to decide this inside this issue :D

[2016-04-13 16:27] xh3b4sd commented on #215
Other points coming to my mind.
- Lock actions on resources to e.g. prevent concurrent updates of the same slices.
- Get slice identification right by using a centralized store.

[2016-04-13 17:03] hectorj2f commented on #215
+1 on this feature ;)

[2016-04-14 07:21] Nesurion commented on #216
The update task waits forever for the old slice to be deleted, which never happens as the delete task is not scheduled. We found that `breaking` the loop in https://github.com/giantswarm/inago/blob/master/controller/update.go#L353 causes this error, because the outer loop iterates over the request slices (in our case just one) and breaks after scheduling the `add`.

This is only part of the story

[2016-04-14 09:14] xh3b4sd opened #232 "error could be more helpful when updating submitted group"
When updating a group that is submitted but not started, I would expect a more helpful message. This is what we see currently.

[code]

[2016-04-14 09:38] Nesurion commented on #216
After testing different numbers of slices again and syncing with @xh3b4sd, we discovered that the update failure was due to a broken fleet and not inago.

[2016-04-14 09:38] #216 closed, assigned to Nesurion

[2016-04-14 12:10] JosephSalisbury opened #237 "Discuss client-server model"
In https://github.com/giantswarm/inago/issues/215 we noted the possibility of requiring some kind of  server.

This issue is present to pull together what we can't do without a server, and whether we want to move in that direction.

Some items noted already that would require a server:
- Maintaining a dynamic number of units on a server (fleet-unit-replicator style)
- Lock actions on resources to

[2016-04-14 13:55] puja108 opened #238 "update might not work correctly if slices have been started seperately"
I accidentally started only one slice of a group with `inagoctl up k8s-node` and then added two more slices with `inagoctl up k8s-node 2` this resulted in the correct amount of 3 slices. However, when updating only one slice got updated and I got a timeout error:

[code]

I thought I might try with a lower `min-alive`, however, I got:

[code]

On a fresh try where I started 3 slices from the begin

[2016-04-14 14:20] #223 closed, assigned to nobody

[2016-04-14 14:23] xh3b4sd commented on #224
So this indicates an operational issue. Either we add a timeout for all commands, or we simply keep it as it is until it is going to be a real issue for somebody. IMO this is an rare edge case and I would like to have a real use case for that to work on. Otherwise it is rather hard for me to find a proper solution. In reality people will most probably kill the command before a decent timeout will

[2016-04-14 14:36] xh3b4sd commented on #238
How does the status output of `inagoctl` look like? What does `fleetctl list-units` or `fleetctl list-unit-files` say?

[2016-04-14 14:39] puja108 commented on #238
sadly didn't check `inagoctl status` but `fleetctl list-units` showed all units running fine (just one of them was updated the other two were running the old version)

[2016-04-14 15:37] JosephSalisbury commented on #224
Overall agree, but we should keep this open for visibility.

[2016-04-14 16:00] Nesurion commented on #213
so @JosephSalisbury and I paired on this and looked at the debug logs. What we found is that:
- From step 2 to step 3, only one slice should be added, but it adds two
- this might be due to the way we calculate the number of slices we are allowed to add
- a race condition in the `addInProgress` counter is unlikely (we checked for that)

we need to dig deeper into this tomorrow

[2016-04-15 07:35] puja108 commented on #227
https://github.com/giantswarm/inago/pull/239 fixes this at least for the nodes. The api server still is not HA and has downtimes while updating, which is less severe as k8s does not rely on the api server to stay up.

[2016-04-15 07:37] puja108 commented on #226
In https://github.com/giantswarm/inago/pull/239 I moved to @hectorj2f's containers, which I also updated to include the latest full release (all images contain following tags: 1.0.1, 1.0.2, 1.2.0, 1.2.2)

[2016-04-15 09:41] puja108 commented on #219
Addressing this for the k8s example in https://github.com/giantswarm/inago/pull/239

[2016-04-15 11:47] #210 closed, assigned to nobody

[2016-04-15 13:04] JosephSalisbury commented on #209
Slight clarification - the max attempts failed check was specifically on the update command - in this failure mode where we can neither add nor remove slices.

Submitting conflicting units is slightly seperate, in that that's more to do with us waiting on units to enter a state that they never can.

[2016-04-15 13:31] JosephSalisbury commented on #209
This case only happens when both `isGroupRemovalAllowed` and `isGroupAdditionAllowed` return (false, nil), and no other work can occur.
In this case, slices can neither be added nor removed, and the update loops _eternally_.

The max attempts failed check would (eventually) cause this to halt. Saying that, if this case occurs, we should fix the issue with `isGroupRemovalAllowed` and `isGroupAdditi

[2016-04-15 13:31] #209 closed, assigned to nobody

[2016-04-15 13:46] #187 closed, assigned to nobody

[2016-04-15 14:49] xh3b4sd commented on #115
I call for comments. Who has strong feelings about this? How should it look like? Please provide more precise information on what "Print task IDs from context nicer" actually means.

[2016-04-15 15:09] #213 closed, assigned to nobody

[2016-04-15 19:05] #218 closed, assigned to xh3b4sd

[2016-04-18 09:13] JosephSalisbury commented on #115
I'd like it if we could dump the "WithValue" crap, and shorten it when it's just the Background context.

[2016-04-18 09:15] xh3b4sd commented on #115
I have no idea how to do so. There is no way to fetch all information a context holds.

[2016-04-19 09:18] xh3b4sd commented on #62
This is interesting UX wise. For instance, what should happen if the provided percentage value does not evaluate to a natural number? Lets say my group has three slices. Providing `4%`, `13%` and `43%` is not valid. We can only choose between `1`, `2` and `3` slices, which means `33.33...%`, `66.66...%`, or `99.99...%`. How do we want to deal with that?

The idea behind the percentage values is to

[2016-04-19 09:43] xh3b4sd commented on #102
The use case could be the unslicable groups update. See https://github.com/giantswarm/inago/blob/3e5661d941a9208fcfee47bddf0f6869250db72f/docs/k8s.md#updating-the-master. There the user needs to `stop`, `destroy`, `up`, only to update. A restart command could solve this issue https://github.com/giantswarm/inago/issues/186.

[2016-04-19 09:45] xh3b4sd commented on #102
Thinking about it, it would probably be weird when restart actually recreates. Never mind.

[2016-04-19 09:52] xh3b4sd commented on #55
@zeisss the trailing slash is already fixed. See https://github.com/giantswarm/inago/pull/240

[2016-04-19 09:53] xh3b4sd commented on #164
@Nesurion wanted to work towards this by reducing the `--ready-secs` used in update tests. This will not solve the whole problem, but would improve the situation.

[2016-04-19 09:54] xh3b4sd commented on #115
Can somebody came up with a sketch? How should log line look like? Lets get design ideas right.

[2016-04-19 10:22] zeisss commented on #115
we could add a way to register the keys we are interested in and print only those.

[2016-04-19 10:37] zeisss commented on #62
how is this handled by Kubernetes?

I would assume most things simply roundUp to the next reasonable value (e.g. minAlive=10% on 3 slices would mean minAlive=1).

[2016-04-19 11:47] xh3b4sd commented on #62
This makes this feature pretty useless to me. #personalopinion

[2016-04-19 13:21] puja108 commented on #219
adressed completely in #239

[2016-04-19 13:21] #219 closed, assigned to nobody

[2016-04-19 13:21] puja108 commented on #227
fixed

[2016-04-19 13:21] #227 closed, assigned to nobody

[2016-04-19 13:21] puja108 commented on #226
done

[2016-04-19 13:21] #226 closed, assigned to nobody

[2016-04-19 13:21] puja108 commented on #220
done

[2016-04-19 13:21] #220 closed, assigned to nobody

[2016-04-19 16:01] Nesurion commented on #164
reducing the ready-sec time when running the update command improved the perfomance a bit (~2 min).
`--ready-sec=30` (default) => ~11 minutes
`--ready-sec=2` => 9 minutes

Next step: remove (or reduce) the sleep times

[2016-04-19 16:04] xh3b4sd commented on #164
This is actually something. Not bad.

[2016-04-19 16:05] #135 closed, assigned to xh3b4sd

[2016-04-19 16:11] JosephSalisbury commented on #115
taking

[code]

as two random log lines to play with, we could have:

[code]

basically, removing the `context.Background` foo, making the value part smaller.

[2016-04-19 16:14] Nesurion commented on #164
~7 minutes with the sleep times. First run, all tests green, but needs further testing to make use its consistent and test don't starting failing.

[2016-04-25 10:15] zeisss commented on #62
why?

[2016-04-25 10:53] xh3b4sd commented on #62
Because it does things I did not want. What I wanted is doing something wrong. I want to know what I did wrong. I don't want to have things working that I think are right but are actually wrong. So a system that does other things than I requested is pretty bad, because it makes me think I am doing things right, but in fact I was pretty wrong.

[2016-05-26 08:30] JosephSalisbury opened #249 "Fix integration test"
See https://travis-ci.org/giantswarm/inago/jobs/129942807

[2016-09-09 17:44] kopiczko opened #250 "Replace file-system with afero"
Hi,

I'm working on #55.
file-system package seems to be feature-incomplete. I miss Stat function for example.
There is a great https://github.com/spf13/afero which is basically file system abstraction.

I'm happy to provide a PR. Please let me know your thoughts.

[2016-09-09 20:42] kopiczko opened #252 "Fix build deps"
From: https://travis-ci.org/giantswarm/inago/jobs/133051856

[code]

[2016-09-10 08:25] kopiczko commented on #252
`rm -rf .gobuild && make deps && make test` works now.

[2016-09-10 08:39] #252 closed, assigned to nobody

[2016-09-10 08:51] #250 closed, assigned to nobody

[2016-09-18 15:20] kopiczko commented on #237
Correct me if I'm wrong but I think all of that can be achieved with use of etcd, no server required. Just my 2c.

[2016-09-18 20:01] kopiczko commented on #55
Hey, I've made a PR #258 which fixes that. It also affects _up_, _update_ and _validate_ commands.

[2016-09-25 13:58] #249 closed, assigned to nobody

[2016-10-01 08:54] zeisss commented on #237
@kopiczko Yes, this can be achieved by giving the inago user access to etcd to ensure there is a lock. But this adds additional complexity to a client process, which especially given it is run on developer machines has the tendency to just be killed / put to sleep e.g. for lunch.

A server would bring the benefit of protecting the rollout from bad client behavior.